.About{
    display: grid;
    color: black;
    gap: 25px;
    width: 85%;
    margin-bottom: 2rem;
}

.imgContainer > img{
    width: 60%;
    margin-left: 40px;
}

.cardAndDots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 2rem 1rem 2rem;
}

.card{
    width: 40%;
    border: 1px solid white;
    border-radius: 8px;
    height: 8rem;

    box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);
    -webkit-box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);
    -moz-box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
}

.aboutText{
    width: 70%;
    justify-self: end;

    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.aboutText > desc{
    font-size: 0.6rem;
}

.aboutTitle{
    font-weight: 900;
    font-size: 1.2rem;
}

.aboutText button{
    background-color:#003cff;
	border-radius:28px;
    border: none;
	cursor:pointer;
	color:#ffffff;
	padding:0.4rem 2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #0077ff;
    width: fit-content;
    font-weight: 800;
    font-size: 0.6rem;
}

.benefitSection{
    font-weight: bold;
    display: flex;
    gap: 40px;
    font-size: 0.8rem;
}
