.About{
    display: grid;
    gap: 25px;
    width: 85%;
    margin-bottom: 2rem;
}

.aboutImgContainer > img{
    width: 60%;
    margin-left: 2rem;
    max-width: 15rem;
}

.cardAndDots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 2rem 1rem 2rem;
}

.card{
    border: 1px solid white;
    border-radius: 8px;
    height: 10rem;
    width: 50%;
    padding: 1rem 1rem;

    box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);
    -webkit-box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);
    -moz-box-shadow: 1px 4px 7px 3px rgba(51, 153, 255, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 0.8rem;
}

.card img{
    height: 3rem;
}

.card span{
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.aboutText{
    width: 70%;
    justify-self: end;

    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.aboutText > desc{
    font-size: 0.6rem;
}

.aboutTitle{
    font-weight: 900;
    font-size: 1.2rem;
}

.aboutBtn{
    background-color:#3154fe;
	border-radius:28px;
    border: none;
	cursor:pointer;
	color:#ffffff;
	padding:0.8rem 3.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #0077ff;
    width: fit-content;
    font-weight: 500;
    font-size: 0.6rem;
}

.aboutBtn:hover{
    background-color: #2845d7;
}

.benefitSection{
    font-weight: bold;
    display: flex;
    gap: 40px;
    font-size: 0.8rem;
}

.benefitCard{
    display: flex;
    gap:1rem;
    align-items: center;
}

.benefitCard img{
    height: 2.3rem;
}

.desktop{
    display: none;
}

/*Desktop*/
@media screen and (min-width: 1200px)
{
    .About{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'card card'
        'image text';
        row-gap: 3rem;
        column-gap: 5rem;
        margin-bottom: 3rem;
    }

    .cardAndDots{
        grid-area: card;
    }

    .threeDots{
        display: none;
    }

    .desktop{
        display: flex;
    }

    .cardContainer{
        gap: 3rem;
    }

    .card{
        height: 16rem;
        width: 15rem;
        padding: 0;
    }
    
    .card span{
        font-size: 1.2rem;
    }

    .aboutImgContainer{
        display: flex;
        justify-content: flex-end;
    }

    .aboutImgContainer > img{
        width: auto;
        margin-left: 2rem;
        max-width: none;
    }

    .aboutText{
        grid-area: text;
        width: 70%;
        justify-content:center;
        gap:2rem;
        justify-self: start;
    }

    .aboutTitle{
        font-size: 2.2rem;
    }

    .aboutText .desc{
        font-size: 1rem;
    }

    .aboutBtn{
        font-size: 1rem;
    }

    .benefitSection{
        font-size: 1rem;
    }
}
