* { 
  padding:0;
  margin:0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root{
  width: 100%;
}

.siteContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Global styles*/
.desc{
  color: rgba(0, 0, 0, 0.5);
}