.FindPlans{
    background-color: #E5E0E4;
    display: flex;
    flex-direction: column;

    height: max-content;
    background-image: url('../assets/hero-bg.jpg');
    background-position-x: 130px; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.leftSection{
    padding: 4rem 0 4rem 2rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.leftTitle{
    color: #015DFA;
    font-weight: bold;
}

.findPlansBtn{
    width: fit-content;
    border-radius:25px;
    background-color: #63beff;
    border: none;
	cursor:pointer;
	color:#ffffff;
    font-size: 0.6rem;
    padding: 0.7rem 1.3rem;
    font-weight: 900;
    text-align: center;
}

/*Desktop*/
@media screen and (min-width: 1200px)
{
    .FindPlans{
        width: 100%;
        height: 100%;
        padding: 4rem 12rem;
        background-position-x: 60rem;
        background-size: auto 100%;

    }
    
    .leftTitle{
        font-size: 3.8rem;
    }

    .FindPlans .desc{
        font-size: 1.5rem;
    }

    .findPlansBtn{
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}