nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #6475ed;
    align-items: center;
    color: white;
    padding: 0.5rem 1.2rem;
    overflow: visible;
    height: 3rem;
}

.logo{
    height: 3.7rem;
    align-self: baseline;
    z-index: 2;
}

.hambIcon{
    height: 1.3rem;
}

.connect{
    font-size: 0.6rem;
}

.contact{
    font-size: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact > .mail{
    display: flex;
    gap: 0.1rem;
}

.contact > .call{
    display: flex;
    margin-left: 0.6rem;
    gap: 0.1rem;
}

.contact img{
    height: 0.4rem;
}
