.Help{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.helpCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.helpCard img, .imgContainer{
    width: 100%;
}

.helpImgContainer{
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpCard img{
    height: max-content;
}

.helpCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.helpCardText{
    padding: 0.8rem;
}

.helpTitle{
    font-size: 1.2rem;
    font-weight: bold;
}

.helpCardText > .desc{
    margin-top: 0.5rem;
    font-size: 0.6rem;
}

.helpCardLink{
    padding: 0.8rem;
    color: #015DFA;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

/*Coloring help card link logos*/
/*https://codepen.io/sosuke/pen/Pjoqqp*/

.helpCardLink > img{
    filter: invert(29%) sepia(96%) saturate(4808%) hue-rotate(213deg) brightness(97%) contrast(107%);
    height: 1.5rem;
    width: auto;
    margin-left: 0.5rem;
}


.desktop{
  display: none;
}

/*Desktop*/
@media screen and (min-width: 1200px)
{
    .desktop{
        display: flex;
    }
    
    .Help{
        padding-bottom: 3rem;
    }

    .helpCard{
        height: 100%;
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.3rem;
        gap:0.2rem;
    }

    .helpTitle{
        margin: 2rem 0;
        font-size: 2rem;
    }

    .helpCardText{
        padding: 2rem;
    }

    .helpCardText .desc{
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .helpCardContainer{
        justify-items: center;
        align-items: start;
        width: 60%;
    }

    .helpImgContainer{
        height: 9rem;
    }

    .helpCardLink{
        font-size: 1rem;
        padding: 0 2rem;
    }    
}