.Help{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.helpCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.helpCard img, .imgContainer{
    width: 100%;
}

.helpImgContainer{
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpCard img{
    height: max-content;
}

.helpCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.helpCardText{
    padding: 0.8rem;
}

.helpTitle{
    font-size: 1.2rem;
    font-weight: bold;
}

.helpCardText > .desc{
    margin-top: 0.5rem;
    font-size: 0.6rem;
}

.helpCardLink{
    padding: 0.8rem;
    color: blue;
    font-size: 0.7rem;
}

.desktop{
  display: none;
}

/*Desktop*/
@media screen and (min-width: 1200px)
{
    .desktop{
        display: flex;
    }

    .Help{
        padding-bottom: 1.5rem;
    }

    .helpCard{
        height: 100%;
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
        gap:0.6rem;
    }

    .helpCardText desc{
        font-size: 0.8rem;
    }

    .helpCardContainer{
        justify-items: center;
        align-items: start;
        width: 60%;
    }

    .helpImgContainer{
        height: 7rem;
    }
}